@using DevExtreme.AspNet.Mvc
@using PANDOLLAR.Areas.CoreSystem.Models
@model AspNetUser

@{
    Layout = "_Layout";
    ViewData["Title"] = "Notifications";
    var userId = Model.Id;
}

<div class="section my-3">
    <h2 class="section-title">Notifications</h2>
    <p class="section-lead">View your notifications here.</p>
</div>

