@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid position-relative d-flex p-0 h-100 authentication-bg">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center h-100">
            <!-- Column for the login card -->
            <div class="col-sm-10 col-md-4 col-lg-3 mx-auto">

                <!-- Custom template --See ~wwwroot/js/medista.custom-elements.js WelcomeLogo -->

                <welcome-logo></welcome-logo>

                <!-- Card for the login form -->
                <div class="card shadow">
                    <div class="card-body">
                        <!-- Welcome message -->
                        <h5 class="text-center mb-4">Welcome Back</h5>
                        <div class="m-sm-3">
                            <form>
                                <!-- Email input field -->
                                <div class="mb-3">
                                    <label class="form-label" for="txt_username">Email</label>
                                    @(Html.DevExtreme().TextBox()
                                        .Width("100%")
                                        .Height(40)
                                        .ID("textEmail")
                                        .Placeholder("Enter your email")
                                        )
                                </div>
                                <!-- Password input field -->
                                <div class="mb-3">
                                    <label class="form-label" for="txt_password">Password</label>
                                    @(Html.DevExtreme().TextBox()
                                        .Width("100%")
                                        .Height(40)
                                        .Mode(TextBoxMode.Password)
                                        .ID("textPassword")
                                        .Placeholder("Enter your password")
                                        )
                                </div>
                                <!-- Forgot password link -->
                                <div class="mb-3 text-end">
                                    <a class="form-check-label text-small" asp-controller="ForgotPassword" asp-action="Index">Forgot Password?</a>
                                </div>

                                <!-- Login button -->
                                <div class="d-grid gap-2 mt-4">
                                    @(Html.DevExtreme().Button()
                                        .Text("LOGIN")
                                        .Type(ButtonType.Default)
                                        .Icon("arrowright")
                                        .StylingMode(ButtonStylingMode.Outlined)
                                        .Width("100%")
                                        .Height(40)
                                        .OnClick("loginProc")
                                        .ID("loginButton")
                                        )
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Custom template --See ~wwwroot/js/medista.custom-elements.js WelcomeFooter -->
                <welcome-footer></welcome-footer>

            </div>
        </div>
    </div>
</div>

<script>
    function loginProc() {
        // Retrieve values from the input fields
        var username = $("#textEmail").dxTextBox('option', 'value');
        var password = $("#textPassword").dxTextBox('option', 'value');

        // Define the API endpoint
        const url = 'api/LoginAPI/LoginCheck';

        // Prepare the data to be sent
        const data = { email: username, password: password }; // Use 'email' as the key

        // Show loading indicator
        Notiflix.Loading.Dots('Authenticating...');

        // Make the API call using jQuery's getJSON method
        $.getJSON(url, data)
            .done(function (json) {
                // Remove loading indicator
                Notiflix.Loading.Remove(500);

                // Check if the login was successful
                if (json.success) {
                    // Redirect to the appropriate page based on the redirectTo value
                    if (json.redirectUrl) {
                        window.location.href = json.redirectUrl;  // Redirect to the specified URL
                    } else {
                        // Default behavior if no redirection URL is provided
                        window.location.href = "/"; // or another default page like "/home"
                    }
                } else {
                    // Report failure if login was unsuccessful
                    Notiflix.Report.Failure("Failure", json.mresponse, "OK");
                }
            })
            .fail(function (jqxhr, textStatus, error) {
                // Remove loading indicator on failure
                Notiflix.Loading.Remove(500);

                // Handle the error case
                var err = textStatus + ", " + error;
                Notiflix.Report.Failure("Failure", "Login failed: " + err, "OK");
            });
    }

    // Add an event listener for the Enter key to trigger the login button click
    document.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent the default form submission behavior
            document.getElementById('loginButton').click(); // Trigger the login button click
        }
    });
</script>
