@{
    Layout = "_Layout";
    ViewData["Title"] = "Subscription Manager";
}

<div class="section my-3">
    <h2 class="section-title">Finance Dashboard</h2>
    <p class="section-lead">This page is just an example for you to create your own page.</p>
</div>